*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: yellowgreen;
       
    
}
.container{
    /* border: 2px solid rgb(161, 100, 100); */
    width: 40%;
    font-size: 10px;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: #1a1818;
    padding: 30px 20px;
  
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);

}
#newtask input{
    width: 70%;
    width: 70%;
    height: 45px;
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
   
    font-weight: 500;
    position: relative;
  
}
#newtask input:focus{
    outline: none;
    border-color: #b1a3d2;
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    background-color: yellowgreen;
    border: none;
    color: black;
    cursor: pointer;
}

#tasks{
    background-color: #201a1a;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
}
.task{
    background-color: #ffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d1d3d4;
    cursor: pointer;
}
.task span{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: yellowgreen;
    color: #814949;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;

}
.completed{
    text-decoration: line-through;
}